/* 
Colors

White: hsl(0, 0%, 100%)
Light gray: hsl(212, 45%, 89%)
Grayish blue: hsl(220, 15%, 55%)
Dark blue: hsl(218, 44%, 22%)
*/

body {
    height: 100vh;;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
}

img {
    border-radius: 3%;
    width: 100%;

}

.text-content {
   /* max-width: 80%; */
   padding: 25px;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 20px;
}
